<div class="container">
    <div class="row">
        <div class="jumbotron" style="width: 90%; margin-top: 10px !important; padding: 20px !important;">

            <table class="table" style="border: 1px solid grey;">

                <thead class="thead-dark">
                    <tr>
                        <th colspan="4" class="text-center"> Posts List </th>
                    </tr>
                </thead>

                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataList$ | async">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.title.substr(0, 25) + ' ...'}}</td>
                    <td>{{item.body.substr(0, 40) + ' ...'}}</td>
                        <td>
                            <span class="btn btn-primary btn-sm" type="button" (click)="showRecordModal(item, updatePostModal )"><i class="fas fa-edit "></i></span>
                            <span class="btn btn-warning btn-sm" type="button" routerLink="/postcomment/{{item.id}}" ><i class="fas fa-comments "></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<ng-template #updatePostModal let-c="close" let-d="dismiss">

    <!-- Modal -->
    
    <div class="modal-dialog form-control" role="document" style="width: 95% !important; height: 95% !important;">
        <div class="modal-content form-control">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Edit Post</h5>
                <h5><span class="badge badge-primary">{{post.id}}</span></h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="{{post.userId}}" name="userId" [(ngModel)]="post.userId"/>
                    <input type="hidden" value="{{post.id}}" name="id" [(ngModel)]="post.id"/>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label font-weight-bold">Title:</label>
                        <input type="text" class="form-control" value="{{post.title}}" name="title" [(ngModel)]="post.title">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label font-weight-bold">Body:</label>
                        <textarea class="form-control" id="message-text" rows="5" name="body" [(ngModel)]="post.body">{{post.body}}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-primary text-center" style="width: 100%;"  [hidden]="!postUpdated">
                    Post has been updated.
                    <br>
                    <button type="button" class="btn btn-secondary btn-sm text-center" (click)="confirmUpd()"><i class="fas fa-check"></i></button>
                </div>

              <button type="button" class="btn btn-success" (click)="updatePost(post)" [hidden]="postUpdated"><i class="fa fa-save"></i></button>
              <button type="button" class="btn btn-danger" (click)="c('Close click')"[hidden]="postUpdated" ><i class="fas fa-sign-out-alt"></i>"</button>
            </div>
        </div>
    </div>
    
</ng-template>